<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="logPath" value= "c:\\temp\\" />
    <add key="outputPath" value= "c:\\temp\\" />
    <add key="persistencePath" value= "c:\\temp\\" />
    
    <add key="fieldSeparator" value= ";" />
    
    <add key="connectionString" value= "Driver={iSeries Access ODBC Driver};System=0.0.0.0;Uid=MB.....;Pwd=BM.....;" />
  
    <!-- List of full tables. You can create empty value tag  if you don't need to process full tables-->
    <!--add key="fullTables" value= "HIPPOCF.ANAG,HIPPOCF.ANAD,HIPPOCF.ANGFE,HIPPOCF.ANAE,HIPPOCF.ANAL,HIPPOCF.ANAP,HIPPOCF.ANFAT,HIPPOCF.ANFCP,HIPPOCF.ANFGT,HIPPOCF.ANFLG,HIPPOCF.ANFLO,HIPPOCF.ANFPA,HIPPOCF.T04SPRO,HIPPOCF.LISTI,HIPPOCF.MFANU,HIPPOCF.MFAUP,HIPPOCF.MFAPS,HIPPOCF.MGAMM,HIPPOCF.MGAMV,HIPPOCF.MGANM,HIPPOCF.MGANV,HIPPOCF.MGMOV,HIPPOCF.ORDFR,HIPPOCF.ORDFT,HIPPOCF.ORDMR,HIPPOCF.ORDMT,HIPPOCF.RESCR,HIPPOCF.RESCT,HIPPOCF.RIDIV,HIPPOCF.RIDSV,HIPPOCF.ORDCB,HIPPOCF.ORDCR,HIPPOCF.ORDCT,HIPPOCF.ORDCN,HIPPOCF.T04SPRO,HIPPOCF.MFALN,HIPPOCC.PDDFT,HIPPOCC.PDDFFR,HIPPOCF.MFALT,HIPPOCF.MFALD" /-->
    <add key="fullTables" value= "HIPPOCF.ANFLO" />
    
    <!-- List of tables requiring custom queries. This logic requires proper entries inside tableMemory.xml file. Look at documentation for details! -->
    <add key="HIPPOCS.STOCR" value= "SELECT * FROM HIPPOCS.STOCR WHERE CONCAT(CONCAT(CONCAT (ORCFIL,ORPSTO),ORPROG),ORCCLI) IN (SELECT DISTINCT CONCAT(CONCAT(CONCAT (OTCFIL,OTPSTO),OTPROG),OTCCLI) FROM HIPPOCS.STOCT WHERE OTDORD > '@PARAM1@')" />
    <add key="HIPPOCS.STOCB" value= "SELECT * FROM HIPPOCS.STOCB WHERE CONCAT(CONCAT(CONCAT (OBCFIL,OBPSTO),OBPROG),OBCCLI) IN (SELECT DISTINCT CONCAT(CONCAT(CONCAT (OTCFIL,OTPSTO),OTPROG),OTCCLI) FROM HIPPOCS.STOCT WHERE OTDORD > '@PARAM1@')" />
    <add key="HIPPOCS.STOCN" value= "SELECT * FROM HIPPOCS.STOCN WHERE CONCAT(CONCAT(CONCAT (OCCFIL,OCPSTO),OCPROG),OCCCLI) IN (SELECT DISTINCT CONCAT(CONCAT(CONCAT (OTCFIL,OTPSTO),OTPROG),OTCCLI) FROM HIPPOCS.STOCT WHERE OTDORD > '@PARAM1@')" />
    <add key="HIPPOCS.STOCR_MAX" value= "SELECT MAX(OTDORD) FROM HIPPOCS.STOCT" />
    <add key="HIPPOCS.STOCB_MAX" value= "SELECT MAX(OTDORD) FROM HIPPOCS.STOCT" />
    <add key="HIPPOCS.STOCN_MAX" value= "SELECT MAX(OTDORD) FROM HIPPOCS.STOCT" />

    <add key="escapeASCIICharacter" value= "34" />
    <add key="envelopeASCIICharacter" value= "34" />
  </appSettings>  
</configuration>
